# logs / data
*.log
*.csv
*.json
*.jsonl
*.csv.gz
*.json.gz

# model / checkpoints
*.pt
*.pth
*.ckpt
*.bin
*.model
*.safetensors

# middle
*.npy
*.npz
*.pkl
*.pickle

# pycache
__pycache__/
*.py[cod]
*$py.class

# image
*.png

# TensorBoard event files
**/events.out.tfevents.*